body,h1,h2,h3,li,ul,p{
  padding: 0;
  margin: 0;
}
h1,h2,h3{
  font-weight: normal;
  font-size: 16px;
}
body,html{
  min-height: 100%;
  height: 100%;
}
body{
  font-size: 14px;
  background: #fff;
}
body,input,textarea,select,button{
  font-family: "PingFang SC","Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
a {
  color: #42b983;
}

input,button,textarea{
  -webkit-appearance: none;
  border-radius: 0;
}